<#-- pp.dropOutputFile instructs FMPP to drop the current output file, so we
     will not have googledrive.fmpp.html in the output directory. -->
<@pp.dropOutputFile />
<@pp.changeOutputFile name=pp.sourceFileName?replace(".fmpp.", ".") />
<#if mapVersion=="1.6">
  <#assign GoogleDriveUrl_mapGenerator = GoogleDriveUrl_mapGenerator_v1_6>
  <#assign GoogleDriveId_example_txt = GoogleDriveId_example_txt_v1_6><#-- prepend https://googledrive.com/host/ to read this file-->
</#if>
<#if mapVersion=="1.7">
  <#assign GoogleDriveUrl_mapGenerator = GoogleDriveUrl_mapGenerator_v1_7>
  <#assign GoogleDriveId_example_txt = GoogleDriveId_example_txt_v1_7><#-- prepend https://googledrive.com/host/ to read this file-->
</#if>
<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href='https://fonts.googleapis.com/css?family=Architects+Daughter' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="stylesheets/stylesheet.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="stylesheets/pygment_trac.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="stylesheets/print.css" media="print" />

    <link rel="apple-touch-icon-precomposed" href="images/apple-touch-icon-precomposed.png"><!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
    <link rel="apple-touch-icon-precomposed" sizes="72x72"   href="images/apple-touch-icon-72x72-precomposed.png"><!-- For the iPad mini and the first- and second-generation iPad on iOS ≤ 6: -->
    <link rel="apple-touch-icon-precomposed" sizes="76x76"   href="images/apple-touch-icon-76x76-precomposed.png"><!-- For the iPad mini and the first- and second-generation iPad on iOS ≥ 7: -->
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="images/apple-touch-icon-120x120-precomposed.png"><!-- For iPhone with high-resolution Retina display running iOS ≥ 7: -->
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="images/apple-touch-icon-152x152-precomposed.png"><!-- For iPad with high-resolution Retina display running iOS ≥ 7: -->
    <link rel="icon" sizes="196x196" href="images/apple-touch-icon.png"><!-- Chrome v31+ for Android -->
    <link rel="icon" sizes="16x16" type="image/png" href="images/favicon.png" />

    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <title>Setting up your map on Google Drive</title>
  </head>

  <body>
    <header>
      <div class="inner">
        <h1>Make a Minecraft map</h1>
        <h2>Using Google Drive</h2>
      </div>
    </header>

    <div id="content-wrapper">
      <div class="inner clearfix">
        <section id="main-content">

        <p><a href="index.html">&#8617; Return to main map-making instructions</a></p>

        <h2>How to set up your map on Google Drive</h2>

        <p>The locations file must be in .txt or .html format, neither of which are document types that Google Drive will create by default from the
        web page, so create the file using a text editor such as Notepad, and then upload it to Google Drive.

        <p>Tips:
        <ul>
          <li>You can add better Google Drive support for text files by adding a notepad app - to do this go to Options &rarr; Manage apps.</li>
          <li>Templates and examples of locations files can be found <a href="index.html#LocationListFormat">here</a></li>
        </ul>
        </p>


        <h2><a id="Visibility"></a>Make the file "Public on the web"</h2>

        <ol>
        <li>
          Open the file in Google Drive and click "Share"
          <br/>
          <img src="images/googledrive-share.png"/>
        </li>
        <br/>
        <li>
          Under "Who has Access", click "Change..."
          <br/>
          <img src="images/googledrive-changeaccess.png"/>
        </li>
        <br/>
        <li>
          Change the Visibility option to "Public on the web", and click "Save"
          <br/>
          <img src="images/googledrive-publiconweb.png"/>
        </li>
        </ol>

        <p>Your locations file is now available on the web, the last step is to put its unique code into the map URL.</p>

        <h2><a id="GoogleId">Get your file's unique code</a></h2>

        <p>Copy the text in the "Link to share" box
        <br/>
        <img src="images/googledrive-copylink.png"/>
        </p>

        You will end up with some text that looks like this, the letters I've colored green are the file's code:<br/>
        <pre style="color: grey;">https://drive.google.com/file/d/<span style="color:green;">${GoogleDriveId_example_txt}</span>/edit?usp=sharing</pre>

        <p>i.e. everything between <span class="monospace" style="color:black;">https://docs.google.com/file/d/</span> and <span class="monospace" style="color:black;">/edit?usp=sharing</span> is
        your file's unique code.</p>

        <p>Add your file's unique code to the end of this URL...
        <pre>${GoogleDriveUrl_mapGenerator}/index.html?googlesrc=</pre>

        <p>... and you have the URL for your new map. For example:<br/>

        <a style="font-size: 75%" href="${GoogleDriveUrl_mapGenerator}/index.html?googlesrc=${GoogleDriveId_example_txt}">${GoogleDriveUrl_mapGenerator}/index.html?googlesrc=<span style="color:green;">${GoogleDriveId_example_txt}</span></a>
        </p>

        <h2>Troubleshooting</h2>
        <p>If your unique code looks longer than the example above (e.g. 44 characters instead of about 28), and causes a "Failed to load locations from src" error, then you've probably created a Doc file instead of a .txt file.</p>

        <p>Doc files are in a format native to Google, like the Google equivalent of Microsoft Word .doc format. They're good for fonts and nice layout, but the map generator can't extract extract data from them. I may add support for Google doc files later &mdash; if it's possible without bloating the map viewer too much, since Google provides such a nice collaborative online UI for them.</p>

        <p><a href="index.html">&#8617; Return to main map-making instructions</a></p>

        </section>

      </div>
    </div>

  </body>
</html>
